body{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top:95px;
}
.head{
    display:flex;
    flex-wrap:wrap;
    background-color: blueviolet;
    color:white;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    position:sticky;
    top:0;
}
nav ul li {
    display:inline-block;
    text-decoration: none;
    margin-left:30px;
    font-size:x-large;
}
nav ul li a{
    color:white;
    text-decoration: none;
}
.Home{
    background:linear-gradient(white,blueviolet);
    display:flex;
    align-items:center;
    justify-content: center;
    gap:40px;
    padding:50px 10px;
    flex-wrap:wrap;
}
.Home img{
    width:100%;
    max-width:400px;
    height:auto;
}
.Home div{
    margin:auto;
    max-width:600px;
    padding:30px;
}
.Home div h1{
    margin-top:50px;
    font-size:50px;
    margin-bottom: 70px;
    color:white;
    text-shadow:0px 0px 5px black,0px 0px 10px black,0px 0px 15px black,0px 0px 20px black;
    
}
.Home div p{
    font-size:x-large;
    margin-bottom: 60px;
}
.newLaunch{
    background:linear-gradient(white,rgb(240, 139, 195));
    text-align: center;
    padding-top:30px;
}
.newLaunch img{
    width:100%;
    max-width:300px;
}
.products{
    display:flex;
    flex-wrap:wrap;
    height:auto;
}
.products div{
    border:2px solid black;
    height:auto;
    padding:10px;
    margin: 30px auto;
    font-size:22px;
}
.offers{
    background:linear-gradient(white,rgb(70, 174, 243));
    text-align:center;
    height:auto;
    padding-bottom:40px;
    padding-top:30px;
}
.offers p{
    margin-top: 80px;
    font-size: 24px;
    font-weight:900;
}
a:hover{
    font-size:26px;
}
@media(width < 780px){
    html{
        scroll-padding-top:140px;
       
    }
}
